services:
  server:
    build: ./server
    container_name: samvidhan_server
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - postgres
    volumes:
      - ./server/data:/app/data
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload

  postgres:
    image: postgres:15-alpine
    container_name: samvidhan_postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: samvidhan_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
