fastapi
uvicorn
python-multipart
pypdf
chromadb
langchain
langchain-community
tiktoken
openai
google-generativeai
python-dotenv
requests
pandas
fastembed
psycopg2-binary
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
email-validator

