fastapi
pydantic<2.0.0
uvicorn
python-multipart
pypdf
chromadb
langchain
langchain-community
tiktoken
openai
google-generativeai
python-dotenv
requests
pandas
fastembed
psycopg2-binary
sqlalchemy
bcrypt==3.2.0
passlib
python-jose[cryptography]
email-validator

