fastapi
pydantic
uvicorn
python-multipart
pypdf
langchain==0.3.26
langchain-community==0.3.26
langchain-pinecone==0.2.8
langchain_mistralai
python-dotenv
requests
pandas
psycopg2-binary
sqlalchemy
bcrypt==3.2.0
passlib
python-jose[cryptography]
email-validator
aiosmtplib
pyotp
groq
langchain-google-genai
langchain_mistralai
google-generativeai
pinecone-client
